#pragma once

#include "MapleGameInstance.h"
#include "MapleStory.h"
#include "PacketHeader.h"
#include "game_protocol.pb.h"

class UTCPClientComponent;
class UMapleGameInstance;

class F{{output}} {
	using FPacketHandlerFunction = TFunction<bool(TObjectPtr<UTCPClientComponent>, const uint8*, int32)>;

	enum : uint16 {
{%- for packet in parser.total_packet %}
		PKT_{{packet.name_upper}} = {{packet.id}},
{%- endfor %}
	};

	static bool HandleGameInvalid(const TObjectPtr<UTCPClientComponent>& Client, const uint8* Buffer, const int32 Len);

{%- for packet in parser.recv_packet %}
	static bool Handle{{packet.name}}(const TObjectPtr<UTCPClientComponent>& Client, const protocol::{{packet.name}}& Packet);
{%- endfor %}

public:
	static void Init(const TWeakObjectPtr<UMapleGameInstance>& Instance) {
		GameInstance = Instance;

		for (uint16 i = 0; i < UINT16_MAX; ++i) {
			PacketHandlers[i] = HandleGameInvalid;
		}
{% for packet in parser.recv_packet %}
		PacketHandlers[PKT_{{packet.name_upper}}] = [](const TObjectPtr<UTCPClientComponent>& Client, const uint8* Buffer, const int32 Len) {
			return HandlePacket<protocol::{{packet.name}}>(Handle{{packet.name}}, Client, Buffer, Len);
		};
{%- endfor %}
	}

	static bool HandlePacket(const TObjectPtr<UTCPClientComponent>& Client, const uint8* Buffer, const int32 Len) {
		const FPacketHeader* Header = reinterpret_cast<const FPacketHeader*>(Buffer);

		if (Header->PacketId >= UINT16_MAX) {
			return false;
		}

		if (!GameInstance.IsValid()) {
			return false;
		}

		return PacketHandlers[Header->PacketId](Client, Buffer, Len);
	}
{% for packet in parser.send_packet %}
	static FSendBufferRef MakeSendBuffer(const protocol::{{packet.name}}& Packet) { 
		return MakeSendBufferInternal(Packet, PKT_{{packet.name_upper}}); 
	}
{%- endfor %}

private:
	template <typename PacketType, typename Handler>
	static bool HandlePacket(Handler PacketHandler, const TObjectPtr<UTCPClientComponent>& Client, const uint8* Buffer, const int32 Len) {
		PacketType Packet;

		if (!Packet.ParseFromArray(Buffer + sizeof(FPacketHeader), Len - sizeof(FPacketHeader))) {
			return false;
		}

		return PacketHandler(Client, Packet);
	}

	template <typename T>
	static FSendBufferRef MakeSendBufferInternal(const T& Packet, const uint16 PacketId) {
		const uint16 DataSize = static_cast<uint16>(Packet.ByteSizeLong());
		const uint16 PacketSize = DataSize + sizeof(FPacketHeader);
		FSendBufferRef SendBuffer = MakeShared<FSendBuffer>(PacketSize);

		FPacketHeader* Header = reinterpret_cast<FPacketHeader*>(SendBuffer->GetBuffer());
		Header->PacketSize = PacketSize;
		Header->PacketId = PacketId;
		Packet.SerializeToArray(&Header[1], DataSize);

		SendBuffer->Close(PacketSize);
		return SendBuffer;
	}

private:
	inline static FPacketHandlerFunction PacketHandlers[UINT16_MAX] = {};
	inline static TWeakObjectPtr<UMapleGameInstance> GameInstance = nullptr;
};
